<div class="checkbox__box" for='checkbox' (click)="toggle($event)">
  <button id='checkbox' class="checkbox" [attr.aria-label]="text">
    <fa-icon [icon]="faCheck" *ngIf="value"></fa-icon>
  </button>
  <span class="checkbox__label">{{text}}</span>
</div>