<app-faq-canvas></app-faq-canvas>
<div class="app">
    <div class="content">
        <app-header></app-header>
        <app-timer></app-timer>
        <app-exercise-results></app-exercise-results>
    </div>
    <footer class="footer">
        <app-navigation-panel></app-navigation-panel>
    </footer>
</div>
<app-popup-results></app-popup-results>
<app-popup-google-drive-sync></app-popup-google-drive-sync>
<app-popup-result-info></app-popup-result-info>
<app-popup-settings></app-popup-settings>
<app-popup-chart></app-popup-chart>
<app-popup-faq></app-popup-faq>
<app-notifications></app-notifications>