<app-popup title="FAQ" [isOpen]="isOpen" (onClose)="onClose()" height="inherit" width="100%" left="0" top="0" position="absolute">
   <div class="popup-faq">
      <h3 class="popup-faq__title">Первым делом, добавьте необходимые вам упражнения:</h3>
      <ol class="popup-faq__points">
         <li>
            <div>Откройте настройки.</div>
            <iframe src="/?faq=button-settings" width="100%" height="450px"></iframe>
         </li>
         <li>
            <div>Вы можете переименовывать и удалять текущие упражнения, а также добавить новое упражнение.</div>
            <iframe src="/?faq=settings" width="100%" height="620px"></iframe>
            <div class="popup-faq__note-title">Заметки:</div>
            <div class="popup-faq__note">Для переименования, достаточно кликнуть на название упражнения</div>
            <div class="popup-faq__note">цифра слева от кнопки удаления - количество сохранённых результатов по этому упражнению</div>
         </li>
         <li>
            Сохранения в настройках происходят автоматически, новые упражнения вы сразу же сможете увидеть на панели:
            [картинка будет добавлена в будущем]
         </li>
      </ol>
      [инструкция ниже находится в разработке]<br>
      =================================================== <br>
      Как начать упражняться? <br>
 
         1. Выберите то упражнение, которое будете сейчас делать <br>
         2. настройте время отдыха между подходами <br>
         (это время можно менять на протяжении всего упражнения)
         3. Сделайте первый разминочный подход <br>
         4. после завершения подхода, для начала отдыха, нажмите на зелёную кнопку старта таймера <br> 
         
         Появиться первая строка для занесения результатов. <br>
         Если строка не появилась, то нажмите на кнопку "Добавить" <br> <br>
         
         5. В столбец Кол-во, добавьте то, сколько раз вы сделали упражнение в текущем подходе. <br>
         6. В столбец Масса, добавьте тот вес гирь или штанги, который вы подняли, если это силовое упражнение. <br>
         иначе просто оставте 0 <br>
         
         7. Отдыхайте пока таймер не дойдёт до 0.  <br>
         
         Если у вас громкость звука не на 0 и стоит галочка "Проигрывать звук после завершения",  <br>
            то вы услышите сигнал. <br>
         
         8. Начинайте новый подход. <br>
         затем повторяйте пункты с п.2 <br> <br>
 
         9. Когда закончите упражнение, нажмите на кнопку "Сохранить и обнулить". <br>
         Результаты упражнения будут сохранены в ваш текущий браузер, в котором открыт данный сайт <br>
         Если у вас подключен Google Drive и вы в сети, то данные также сохраняются на ваш  <br>
            Google Drive в файл DataTimer.txt <br> <br>
            
         Если вы только пробовали/"тыкали" таймер и не хотите сохранять результаты, то нажмите  <br>
            на кнопку "Очистить" <br> <br>
         
      ===================================================== <br>
         Как я могу увидеть динамику улучшения своих результатов? <br> <br>
         
         1. Выберите интересующее вас упражнение <br>
         2. Нажмите на кнопку "Динамика упражнения" (в самом низу) <br> <br>
         
         
         График - измеритель ваших изменений по всем сохраненным результатам <br>
         Но главным стимулом роста показателей, является отображение предыдущих результатов  <br>
            по текущему упражнению. Для этого, в настройках должна стоять галочка у пункта  <br>
               "Отображать предыдущие результаты рядом с текущими" <br>
            Видя прошлые результаты, вы можете настроиться на то,  <br>
            чтобы преодолеть их и сделать больше. <br>
         С таким настроем в каждом упражнении, вы непременно добьетесь существенного роста мышц. <br>
        

      <div class="popup-faq__link-to-autor">Связь с разработчиком: <a href="https://vk.com/aleksandr_winner">aleksandr_winner</a></div>

   </div>
</app-popup>