<app-popup title="Динамика упражнения" [isOpen]="isOpen" (onClose)="onClose()" [height]="height" [paddingBody]="paddingBody" (window:resize)="onResize()">
  <canvas #exerciseSelectedChart></canvas>
</app-popup>