<div class="header">
  <div class="btn button-faq" (click)="onClickOpenFAQ()">FAQ</div>
  <h1>Таймер</h1>
  <div class="btn button-settings" (click)="onClickOpenSettings()" #buttonSettings>
      <fa-icon [icon]="faCog"></fa-icon>
  </div>
</div>