.popup-exercise-results{
	&__table{
		&-td-button{
			text-align: center;
			width: 40px;

			@media (max-width: 700px)  {
				width: 30px;
			}
		}

		&-tr{
			&_selected > td{
				background: #2795ae;
				color: white;
			}
		}

		
		&-td{
			&-number{
				@media (max-width: 579px)  {
					display: none;
				}
			}

			&-duration{
				@media (max-width: 539px)  {
					display: none;
				}
			}

			&-count{
				@media (max-width: 479px)  {
					display: none;
				}
			}

			&-sum{
				@media (max-width: 389px)  {
					display: none;
				}
			}

			&-mass{
				@media (max-width: 439px)  {
					display: none;
				}
			}
		}
	}

	&__select-exercise{
		float: right;
		width: 60%;
	}

	&__button{
		width: 35px;
		height: 30px;
		border-radius: 7px;
		color: #fff;
		line-height: 30px;

      @media (max-width: 700px)  {
			width: 30px;
			height: 28px;
			line-height: 28px;
      }

		&-remove{
			background: #ce5545;
			border: 1px solid #943326;

			&:hover {
				background-color: #af3d2d;
			}
			
			&:focus {
				background-color: #8d3024;
		   }
		}

		&-info{
			background: #3498db;
			border: 1px solid #2774a7;
			
			&:hover {
				background-color: #1b6ca1;
			}
			
			&:focus {
				background-color: #15537c;
		   }
		}
	}
}