<app-popup title="Все результаты" [isOpen]="isOpen" (onClose)="onClose()" height="100%" width="100%" left="0" top="0" paddingBody="0" position="absolute">
	<table class="exercise-results-table popup-exercise-results__table">
		<thead>
			<tr>
				<th class='popup-exercise-results__table-td-number'>№</th>
				<th>Дата</th>
				<th>Тип 
					<select 
						(change)="onSelectTypeExercise($event.target.value)"
						class="popup-exercise-results__select-exercise"
					>
						<option 
							[value]="exerciseType.uid"
							*ngFor="let exerciseType of [{name: '', uid: ''}].concat(exerciseTypes)" 
							>
							{{exerciseType.name}}
						</option>
					</select>
				</th>
				<th class='popup-exercise-results__table-td-duration'>Длительность</th>
				<th class='popup-exercise-results__table-td-count'>Подходов</th>
				<th class='popup-exercise-results__table-td-sum'>Кол-во</th>
				<th class='popup-exercise-results__table-td-mass'>Масса</th>
				<th>Подробно</th>
				<th>Удалить</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of filtereditems; index as i" [class.popup-exercise-results__table-tr_selected]="selectedRow === i" (click)="selectedRow = i">
				<td class='popup-exercise-results__table-td-number'>{{i + 1}}</td>
				<td>{{getItemDate(item)}}</td>
				<td>{{getExerciseLabel(item)}}</td>
				<td class='popup-exercise-results__table-td-duration'>{{getDuration(item)}}</td>
				<td class='popup-exercise-results__table-td-count'>{{item.results.length}}</td>
				<td class='popup-exercise-results__table-td-sum'>{{getSumCount(item)}}</td>
				<td class='popup-exercise-results__table-td-mass'>{{getSumMass(item)}}</td>
				<td class="popup-exercise-results__table-td-button">
					<button class="btn popup-exercise-results__button popup-exercise-results__button-info" (click)="info(item)" >
						<fa-icon [icon]="faInfo"></fa-icon>
					</button>
				</td>
				<td class="popup-exercise-results__table-td-button">
					<button class="btn popup-exercise-results__button popup-exercise-results__button-remove" (click)="remove(item)" >
						<fa-icon [icon]="faTrash"></fa-icon>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</app-popup>