.timer{
   @media (max-width: 516px)  {
      background-color: #fff;
   }

   background-color: #dfdfe0;
   padding: 35px 15px;
   text-align: center;
   position: relative;

   @media (max-width: 630px)  {
      padding: 0;
   }

   &__button-settings{
      position: absolute;
      right: 5px;
      top: 5px;
      height: 35px;
      width: 35px;
      font-size: 20px;
      @media (max-width: 350px)  {
         right: 10%;
         top: 92px;
      }

      &:hover{
         background-color: #00000014;
      }
      &:active{
         background-color: #00000024;
      }
   }

   &__window{
      margin: auto;
      @media (max-width: 825px)  {
         margin-left: calc(90% - 450px);
      }
      @media (max-width: 760px)  {
         margin-left: calc(95% - 450px);
      }
      @media (max-width: 685px)  {
         margin-left: calc(100% - 450px);
      }
      @media (max-width: 630px)  {
         margin: 0;
         width: 100%;
      }
      @media (max-width: 480px)  {
         font-size: 75px;
      }
      @media (max-width: 450px)  {
         font-size: 70px;
      }
      @media (max-width: 420px)  {
         font-size: 65px;
      }
      @media (max-width: 390px)  {
         font-size: 60px;
      }
      @media (max-width: 370px)  {
         font-size: 55px;
      }

      border-radius: 5px;
      background-color: white;
      font-size: 80px;
      text-align: center;
      line-height: 1.7;
      color: #444;
      @media (min-width: 631px)  {
         min-width: 450px;
      }
      width: 35%;
   }

   &__control{
      @media (min-width: 631px)  {
         margin-top: 10px;
      }

      @media (max-width: 516px)  {
         border-bottom: 80px solid #dfdfe0;
         border-left: 50px solid transparent;
         border-right: 50px solid transparent;
         height: 0;
         width: 170px; 
         margin: auto;
      }
      @media (max-width: 480px)  {
         border-bottom-width: 75px;
      }
      @media (max-width: 450px)  {
         border-bottom-width: 70px;
      }
      @media (max-width: 420px)  {
         border-bottom-width: 67px;
         width: 160px; 
      }
      @media (max-width: 390px)  {
         border-bottom-width: 63px;
         width: 150px; 
      }
      @media (max-width: 370px)  {
         border-bottom-width: 60px;
         width: 140px; 
      }
      @media (max-width: 340px)  {
         border-bottom-width: 60px;
         width: 130px; 
      }
   }

   &__settings{
      position: absolute;
      left: 17px;
      top: 45px;
   }

   &__decor-triangle-left, &__decor-triangle-right{
      @media (max-width: 480px)  {
         top: 153px;
      }
      @media (max-width: 450px)  {
         top: 140px;
      }
      @media (max-width: 420px)  {
         top: 133px;
         border-top-width: 45px;
         border-bottom-width: 45px;
      }
      @media (max-width: 390px)  {
         top: 123px;
         border-top-width: 42px;
         border-bottom-width: 42px;
      }
      @media (max-width: 370px)  {
         top: 113px;
         border-top-width: 40px;
         border-bottom-width: 40px;
      }
      @media (max-width: 330px)  {
         top: 118px;
         border-top-width: 35px;
         border-bottom-width: 35px;
      }

      position: absolute;
      top: 165px;
      width: 0;
      height: 0;
      border: 0 solid #7c0000;
      border-top: 50px solid transparent;
      border-bottom: 50px solid transparent;
      z-index: 1;
   }

   &__decor-triangle-left {
      right: 0;
      border-right-width: 100px;
      @media (max-width: 390px)  {
         border-right-width: 90px;
      }
      @media (max-width: 370px)  {
         border-right-width: 80px;
      }
      @media (max-width: 330px)  {
         border-right-width: 70px;
      }
   }

   &__decor-triangle-right {
      left: 0;
      border-left-width: 100px;
      @media (max-width: 390px)  {
         border-left-width: 90px;
      }
      @media (max-width: 370px)  {
         border-left-width: 80px;
      }
      @media (max-width: 330px)  {
         border-left-width: 70px;
      }
   }
}