<div class="timer" (window:resize)="onResize()">
  <div class="timer__window">
      {{timeString}}
    <div class="btn timer__button-settings" *ngIf='windowWidth <= 630' (click)="openSettings()">
        <fa-icon [icon]="faCogs"></fa-icon>
    </div>
  </div>
  <div class="timer__control">
    <app-timer-control></app-timer-control>
  </div>
  <div class="timer__settings" *ngIf='windowWidth > 630'>
    <app-timer-settings></app-timer-settings>
  </div>

  <div class="timer__decor-triangle-left" *ngIf='windowWidth <= 516'></div>
  <div class="timer__decor-triangle-right" *ngIf='windowWidth <= 516'></div>
</div>
<app-popup-timer-settings></app-popup-timer-settings>
