.popup{
    position: absolute;
    background-color: white;
    border-radius: 2px;
    z-index: 10;

    &__wall{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: black;  
        opacity: 0.4;
        z-index: 10;
    }

    &__header{
        position: relative;
        height: 35px;
        text-align: center;
        background-color: #004361;
        line-height: 35px;
        font-size: 18px;
        color: white;

        &-button-close{
            position: absolute;
            right: 3px;
            top: 3px;
            padding: 5px 11px;
            border-radius: 2px;
        }
    }

    &__body{
        position: relative;
    }
}