<div *ngIf="isOpen" class="popup__wall" (window:resize)="onResize()"></div>
<div *ngIf="isOpen" class="popup" [ngStyle]="{'width': width2, 'height': height, 'left': left2, 'top': top2, 'position': position}">
  <div class="popup__header">
    <span>{{title}}</span>
    <button class="btn btn-style btn-popup popup__header-button-close" (click)="close()">x</button>
  </div>
  <div class="popup__body" [ngStyle]="{'padding': paddingBody, 'height': 'calc(100% - 65px)'}">
    <ng-content></ng-content>
  </div>
</div>