<span class="exercise-results-settings" (window:resize)="onResize()">
  <span *ngIf="windowWidth > 470">Упражнение: </span>
  <select 
    *ngIf="exerciseTypeSelected"
    aria-label="Упражнение"
    (change)="onSelectTypeExercise($event.target.value)"
    class="exercise-results-settings__select-exercise"
  >
    <option 
        [value]="exerciseType.uid"
        [selected]="exerciseType.uid === exerciseTypeSelected.uid"
        *ngFor="let exerciseType of exerciseTypes" 
      >
      {{exerciseType.name}}
    </option>
  </select>
</span>