.popup-settings{
    display: flex;
    height: 450px;
    flex-direction: column;

    &__item{
        margin-bottom: 10px;
    }

    &__button{
        
        &-remove-all{
            max-width: 320px;
        }

        &-add-exercise{
            margin-right: 15px;
            margin-bottom: 5px;
        }

        &-sync-data{
            margin-left: 10px;
        }
    }

    &__list-exercises{
        width: 100%;
        overflow-y: auto;
        margin-bottom: 10px;
        display: grid;
        //flex-grow: 1; //при малом количестве - растягивает элементы по высоте для заполнения всей области
    }

    &__exercise{
        height: 30px;
        line-height: 28px;
        border-bottom: 1px solid #ebebeb;
        display: flex;

        &-name{
            flex-grow: 1;

            & input{
                line-height: 30px;
                width: 100%;
                outline: none;
            }
        }

        &-count{
            color: #b5b5b5;
        }

        &-button{
            cursor: pointer;
            padding: 0 5px;
            color: #666;
        }
    }

    &__google-driver-note{
        margin-left: 10px;
    }
}