<app-popup title="Настройки" [isOpen]="isOpen" (onClose)="onClose()" height="500px">
   <div class="popup-settings">
      <div class="popup-settings__item">
         <app-checkbox text="Отображать предыдущие результаты рядом с текущими" [value]="isDisplayOldResults" (onToggle)="toggleDisplayOldResults()"></app-checkbox>
      </div>

      <div class="popup-settings__item">
         <button *ngIf="!googleDriveEmail" class="btn btn-style btn-popup" (click)="connectGoogleDrive()">
            <fa-icon *ngIf="isWaitGoogleDrive" [icon]="faSpinner" class="loader"></fa-icon>
            Подключить Google Drive
         </button>
         <span *ngIf="!googleDriveEmail" class="popup-settings__google-driver-note"> - что бы результаты не терялись</span>
         <button *ngIf="googleDriveEmail" class="btn btn-style btn-popup-danger" (click)="disconnectGoogleDrive()">
            <fa-icon *ngIf="isWaitGoogleDrive" [icon]="faSpinner" class="loader"></fa-icon>
            Отключить Google Drive - {{googleDriveEmail}}
         </button>
         <button *ngIf="isRequiredUserActionForSyncData" class="btn btn-style btn-popup-warning popup-settings__button-sync-data" (click)="openGoogleDriveSyncPopup()">
            <fa-icon [icon]="faExclamationTriangle"></fa-icon> Синхронизация
         </button>
      </div>

      <h3>Упражнения:</h3>
      <div class="popup-settings__list-exercises">
         <div class="popup-settings__exercise"
            *ngFor="let exerciseType of exerciseTypes; index as i;trackBy:trackByIndex;">
            <div class="popup-settings__exercise-name"><input [(ngModel)]="exerciseType.name"
                  (blur)="blurExerciseType()"></div>
            <div class="popup-settings__exercise-count">{{getCountExercisesByType(exerciseType)}}</div>
            <div class="popup-settings__exercise-button" (click)="removeExerciseType(i)">
               <fa-icon [icon]="faTimes"></fa-icon>
            </div>
         </div>
      </div>

      <div class="popup-settings__item">
         <button class="btn btn-style btn-popup popup-settings__button-add-exercise" (click)="addExercise()" #buttonAddExercise>Добавить упражнение</button>
         <button *ngIf="countResults" class="btn btn-style btn-popup popup-settings__button-remove-all"
            (click)="clearAllExcercises()">
            Удалить все результаты упражнений
         </button>
      </div>
   </div>
</app-popup>