<span class="exercise-results-control" (window:resize)="onResize()">
  <button class="btn btn-style btn-base" (click)="addResultItem()">Добавить</button>
  <button class="btn btn-style btn-base" (click)="saveAndClear()">
    <span *ngIf="windowWidth > 470">Сохранить и обнулить</span>
    <span *ngIf="windowWidth <= 470">Завершить</span>
  </button>
  <button class="btn btn-style btn-danger exercise-results-control__button-clean" (click)="clear()">
    <span *ngIf="windowWidth >= 400">Очистить</span>
    <img *ngIf="windowWidth < 400" src="/assets/clean.png" width="17px">
  </button>
</span>