.exercise-results{
    &__flex{
        flex: 1;
    }
    
    &__panel{
        height: 38px;
        background-color: #006f92;
        color: white;
        position: relative;
        line-height: 38px;
        display: flex;

        &_top{
            overflow: hidden;    
            line-height: 42px;
            @media (max-width: 825px)  {
                background-color: #004361;
            }
        }

        &-statistics{
            flex-grow: 1;
        }
    }

    &__tables{
        position: relative;
    }

    &__table-results-old{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.3;
        width: 100%;
    }
    
    &__header{
        display: flex;
        height: 50px;
        background-color: #004361;
        color: white;
        font-size: 20px;
        text-align: center;
        line-height: 50px;
        @media (max-width: 450px)  {
            height: 48px;
        }
        @media (max-width: 420px)  {
            height: 46px;
        }
        @media (max-width: 390px)  {
            height: 44px;
        }
        @media (max-width: 370px)  {
            height: 42px;
        }

        &-label{
            flex: 1;

            @media (max-width: 825px) and (min-width: 517px)  {
                padding-left: 30px;
            }
        }

        &-block{
            &-center, &-left{
                background-color: #006f92;
                position: relative;

                &:after {
                    background: inherit;
                    content: '';
                    display: block;
            
                    height: 100%;
                    width: 50px;
            
                    position: absolute;
                    bottom: -50px;
                    right: -50px;
            
                    -webkit-transform: skewY(45deg);
                    transform: skewY(45deg);
                    -webkit-transform-origin: 100%;
                    transform-origin: 100%;
                }
            }

            &-center{
                margin: auto;
                &::before {
                    background: inherit;
                    content: '';
                    display: block;
            
                    height: 100%;
                    width: 50px;
            
                    position: absolute;
                    bottom: 0;
                    left: -50px;
            
                    -webkit-transform: skewY(-45deg);
                    transform: skewY(-45deg);
                    -webkit-transform-origin: 100%;
                    transform-origin: 100%;
                }
            }

            &-right{
                background-color: #006f92;
                position: relative;
                
                &:after {
                    background: inherit;
                    content: '';
                    display: block;
            
                    height: 100%;
                    width: 50px;
            
                    position: absolute;
                    bottom: 0;
                    left: -50px;
            
                    -webkit-transform: skewY(-45deg);
                    transform: skewY(-45deg);
                    -webkit-transform-origin: 100%;
                    transform-origin: 100%;
                }
            }
        }
    }
}