<table class="exercise-results-table" (window:resize)="onResize()">
   <thead [class.hide]="isHideHeader">
      <tr>
         <th>№</th>
         <th width="20%" *ngIf="windowWidth > 600">Время Начала</th>
         <th width="20%" *ngIf="windowWidth > 600">Время окончания</th>
         <th [width]="widthTd">Продолжительность</th>
         <th [width]="widthTd"><label id='exercise-results-table__label-count'>Кол-во</label></th>
         <th [width]="widthTd"><label id='exercise-results-table__label-mass'>Масса</label></th>
      </tr>
   </thead>
   <tbody>
      <tr *ngFor="let exerciseResult of items; index as i">
         <td>{{i + 1}}</td>
         <td *ngIf="windowWidth > 600">{{getTimeStart(exerciseResult)}}</td>
         <td *ngIf="windowWidth > 600">{{getTimeEnd(exerciseResult)}}</td>
         <td>{{getTimeDuration(exerciseResult)}}</td>
         <td>
            <input 
               type='number' 
               class="exercise-results-table__input-count"
               aria-labelledby="exercise-results-table__label-count"
               [(ngModel)]="exerciseResult.count"
               (blur)="changeModel()" 
               [disabled]="isDisableInputs" />
         </td>
         <td>
            <input 
               type='number' 
               class="exercise-results-table__input-mass" 
               aria-labelledby="exercise-results-table__label-mass"
               [(ngModel)]="exerciseResult.mass"
               (blur)="changeModel()" 
               [disabled]="isDisableInputs" />
         </td>
      </tr>
   </tbody>
</table>