.exercise-results-statistics{
    display: flex;

    &__item {
        flex-grow: 1;
        text-align: center;

        &-last{
            color: #ffffff91;
        }
    }

    &__item:first-child {
        @media (min-width: 1020px)  {
            text-align: right;
        }
    }
    &__item:last-child {
        @media (min-width: 1020px)  {
            text-align: left;
        }
    }
}