<div class="exercise-results-statistics" (window:resize)="onResize()">
  <span class="exercise-results-statistics__item">
    Количество: {{exerciseCurrentResultCount}} 
    <small class="exercise-results-statistics__item-last" *ngIf="isDisplayOldResults">/ {{exerciseLastResultCount}}</small>
  </span>
  <span class="exercise-results-statistics__item">
    <span *ngIf="windowWidth < 380">Масса</span> 
    <span *ngIf="windowWidth >= 380">Поднятая масса</span>: 
    {{exerciseCurrentResultMass}} 
    <small class="exercise-results-statistics__item-last" *ngIf="isDisplayOldResults">/ {{exerciseLastResultMass}}</small>
  </span>
  <span class="exercise-results-statistics__item" *ngIf="windowWidth > 600">
    Время начала: {{getDateStartCurrent()}} 
    <small *ngIf="exerciseLastResultDate && isDisplayOldResults" class="exercise-results-statistics__item-last">/ {{getDateLast()}}</small>
  </span>
</div>